    .doabout{
        padding-top: 15px;
        color:black;
        background: transparent;
        text-shadow: 0.5px 0.9px grey;
        font-family: 'Overpass';
    }
    .pass-img{
      width: 60%;
      height: auto;
      margin-top: 70px;
    }
    .password{
      padding-left: 60px;
      padding-right: 60px;
      width: 100%;
      max-width: 520px;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: aliceblue;
      background: radial-gradient(
    ellipse at left bottom,
    rgba(255,255,255, 1) 0%,
    rgba(25, 170, 140, 1) 59%,
    rgba(163, 255, 235, 1) 100%);
      box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
      font-family: 'Overpass';
    }
    .bb{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      font-weight: bolder;
      margin: 10px;
      background-color: rgba(25,170,141,1);;
    }
    .bb:hover{
      transition: 2ms;
      transform: scale(1.05);
      background-color: honeydew;
      color: rgba(25,170,141,1);;
      font-weight: bolder;
      font-size: medium;
    }
    .form-control:hover{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }