* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 10px;
}

header, footer {
  padding: 20px;
  margin-top: 5px;
  background-color: #C0C0C0;
  border-radius: 7px;
}

footer {
  text-align: center;
}

section {
  width: 60%;
  float: left;
  height: 550px;
  padding: 20px;
}

.right {
  width: 40%;
  float: left;
  height: 550px;
  border-left: 2px solid rgb(179, 157, 157);
  padding: 20px;
}

.main * {
  border-radius: 20px;
}

.main {
  margin: 10px 0px;
}

.main::after {
  content: "";
  clear: both;
  display: table;
}

/* FOR MODEL POPUP */

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  height: 300px;
  width: 500px;
  background-color: white;
  text-align: center;
  position: relative;
  border-radius: 4px;
}

.form-group {
  text-align: left;
  padding: 20px;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 1px 16px;
  background-color: #1d68f3;
  color: black;
}

.modal-body {
  padding: 5px 16px;
  background-color: white;
}

.modal-footer {
  padding: 2px 16px;
  color: white;
}

/* Delete Items */

.delete-item {
  display: block;
  height: 36px;
  width: 36px;
  line-height: 36px;
  right: 0;
  top: 0;
  text-align: center;
  color: #d8d8d8;
}

.delete-item:hover {
  color: #cd4400;
}


@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
  
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  padding-top: .5em;
}

.rwd-table td:last-child {
  padding-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

@media (min-width: 480px) {

  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }

  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }

  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #46637f;
}

.rwd-table th,
.rwd-table td {
  margin: .5em 1em;
}

@media (min-width: 480px) {

  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}

.rwd-table th,
.rwd-table td:before {
  color: #dd5;
}