img
{
  width:100%;
  height:50vh;
  border-radius:50%;
}
.profile {
  display: grid;
  place-items: center;
  background:
    linear-gradient(to bottom right, rgba(25, 170, 140, 1) 15%, transparent),
    radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 10%, transparent 20%) center center / 15px 15px,
    linear-gradient(to bottom right, #3C4BBD, #57ADD8);
}
@media screen and (max-width:990px) {
.profile
{
  margin-bottom:25vh;
}
}
.content-section{
  font-family:'Overpass';
}
.bb{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bolder;
  margin: 10px;
  background-color: rgba(25,170,141,1);
}
.bb:hover{
  transition: 2ms;
  transform: scale(1.05);
  background-color: honeydew;
  color: rgba(25,170,141,1);
  font-weight: bolder;
  font-size: medium;
}
.doabout{
  padding-top: 5px;
  color:black;
  background: transparent;
  /* text-shadow: 1px 1px 2px green, 0 0 1em black; */
  text-shadow: 0.5px 0.9px grey;
  font-family: 'Overpass';
}
.pass-img{
  width: 70%;
  height: auto;
  margin-top: 70px;
}
.wrapper {
  position: relative;
  perspective: 40em;
  display: grid;
  transform-style: preserve-3d;
}

.cc {
  grid-area: 1 / 1;
  height: 100px;
  width: 400px;
  transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  background: linear-gradient(to bottom right, rgba(25, 170, 140, 1) 0%, #fff 120%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  color: #000;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 900;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
}

h1 {
  font-size: 40px;
  font-weight: 900;
}

.cc .enclosed {
  background: #000;
  line-height: 1;
  color: rgba(25,170,141,1);
  padding: 0 5px;
  display: inline-block;
  transform: translate(-1px, 1px) scale(0.75);
  transform-origin: right center;
}

.wrapper:before {
  --bw: 9px;
  grid-area: 1 / 1;
  content: '';
  backface-visibility: hidden;
  height: 100%;
  width: 91.5%;
  margin-top: calc(-1 * var(--bw));
  margin-left: calc(-1 * var(--bw));
  background: transparent;
  transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
  pointer-events: none;
  border: var(--bw) solid #000;
  box-sizing: content-box;
}


.wrapper:hover > div,
.wrapper:hover:before {
  transform: none;
}


.wrapper > div,
.wrapper:before {
  will-change: transform;
  transition: .3s transform cubic-bezier(.25,.46,.45,1);
}
