body {
	color: #fff;
	background: #19aa8d;
	font-family: 'Roboto', sans-serif;
}
.form-control {
	font-size: 15px;
}
.form-control, .form-control:focus, .input-group-text {
	border-color: #e1e1e1;
}
.form-control, .btn {
	border-radius: 3px;
}
.signup-form {
	width: 600px;
	margin: 0 auto;
	padding: 30px 0;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form h2 {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.signup-form hr {
	margin: 0 -30px 20px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form label {
	font-weight: normal;
	font-size: 15px;
}
.signup-form .form-control {
	min-height: 38px;
	box-shadow: none !important;
}
.signup-form .input-group-addon {
	max-width: 42px;
	text-align: center;
}
.signup-form .btn, .signup-form .btn:active {
	font-size: 16px;
	font-weight: bold;
	background: #19aa8d !important;
	border: none;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #179b81 !important;
}
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #19aa8d;
	text-decoration: none;
}
.signup-form form a:hover {
	text-decoration: underline;
}
.signup-form .fa {
	font-size: 21px;
}
.signup-form .fa-paper-plane {
	font-size: 18px;
}
.signup-form .fa-check {
	color: #fff;
	left: 17px;
	top: 18px;
	font-size: 7px;
	position: absolute;
}
.logo{
  padding-top: 55px;
}
.disable-select {
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}
.span{
	position: absolute;
	right:15px;
	transform: translate(0,-50%);
	top:50%;
	color:#495057;
	cursor: pointer;
	z-index: 3;
}
.form-group{
	z-index: 2;
}
.fb{
    width:240px;
    height:40px;
    border:0px;
    border-radius: 50px;
    background-color: #1877F2;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    color:white;
  }
  .fb i{

    padding-left:1px;
    padding-right: 8px;
  }
  .gg{
    width:240px;
    height:40px;
    border:0px;
    border-radius: 50px;
    background-color: #DB4437;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    color:white;
  }
  .gg i{
    margin-left: -20px;
    padding-right:8px;
  }
  .github{
	width:240px;
	height:40px;
	border:0px;
	border-radius: 50px;
	background-color: #424446;
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	color:white;
  
  }
  .github i{
  
	padding-left:1px;
	padding-right: 8px;
  }
  .google{
  
	width:240px;
	height:40px;
	border:0px;
	border-radius: 50px;
	background-color: #e25c3b;
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	color:white;
  
  }
  .google i{
	padding-left:1px;
	padding-right: 8px;
  
  }