{% extends "base.html" %}
{% load static %}
{% block body %}

<style>
    .doabout{
        padding-top: 15px;
        color:black;
        background: transparent;
        /* text-shadow: 1px 1px 2px green, 0 0 1em black; */
        text-shadow: 0.5px 0.9px grey;
        font-family: 'Overpass';
    }
    .pass-img{
      width: 60%;
      height: auto;
      margin-top: 70px;
    }
    .password{
      padding-left: 60px;
      padding-right: 60px;
      width: 100%;
      max-width: 520px;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: aliceblue;
      background: radial-gradient(
    ellipse at left bottom,
    rgba(255,255,255, 1) 0%,
    rgba(25, 170, 140, 1) 59%,
    rgba(163, 255, 235, 1) 100%);
      box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
      font-family: 'Overpass';
    }
    .bb{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      font-weight: bolder;
      margin: 10px;
      background-color: rgba(25,170,141,1);;
    }
    .bb:hover{
      transition: 2ms;
      transform: scale(1.05);
      background-color: honeydew;
      color: rgba(25,170,141,1);;
      font-weight: bolder;
      font-size: medium;
    }
    .form-control:hover{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  </style>

  <div class="password container mt-5">
      <div class="row">
          <!-- <div class="col-sm-5">
            <img src="{% static 'Images/change-password.png' %}" class="pass-img">
          </div> -->
          <div class="col-sm-12">
            <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap" rel="stylesheet">
              <h2 class="doabout text-center"><b>Change Password</b></h2>
              <hr>

              <form method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <label>Old Password:</label>
                    <input type="password" class="form-control" placeholder="Enter old Password" name="old">
                  </div><br>
                  <div class="form-group">
                    <label>New Password:</label>
                    <input type="password" class="form-control" placeholder="Enter new password" name="new">
                  </div><br>
                  <div class="form-group">
                    <label>Confirm Password:</label>
                    <input type="password" class="form-control" placeholder="Confirm new password" name="confirm">
                  </div><br>

                  <button type="submit" class="bb btn btn-success">Submit</button>
                </form>
                <br>

          </div>
      </div>
  </div>

{% ifequal error "no" %}
<script>
    alert('Password changed Successfully');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Passwords does not match, Try again');
</script>
{% endifequal %}
{% endblock %}