{% extends 'base.html' %}
{% block title %}PRO_Act  ||  Home{% endblock title %}
{% block css %}
.jumbotron
{
  height:70vh;
}
@media screen and (max-width:990px) {
.jumbotron
{
  height:auto;
}
.main
{
  margin-bottom:22vh;
}
}

{% endblock css %}
{% block body %}
<main role="main" class="main">
<div class="container-fluid px-0">
<div class="jumbotron py:6" style="background-color:#8ADFCA;margin:0px;padding: 2rem 4rem;">
  <h1 class="display-4">Welcome {{request.user}} !!</h1>
  <p class="lead">Good to see you back again get updates of your projects and make new once , hope to see new work coming ahead and we are always there to help you manage them better.</p>
  <hr class="my-4">
  <p>Add projects -- divide into modules -- update the works done -- set a time limit</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="about.html" role="button">Learn more</a>
  </p>
</div>

</div>
</main>
 {% endblock body %}   





