{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<title>PRO_ACT || Login</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
	{% if user.is_authenticated %}
	<div class="container jumbotron cj">
		<h1>Welcome {{ user.username }} </h1>
		<meta http-equiv="refresh" content="0.5; URL={% url 'home:login' %}" />
	</div>
	{% else %}
<div class="signup-form">
	{% if error %}
        <div
          class="alert alert-danger alert-dismissible fade show text-center"
          role="alert"
        >
          {{error}}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
	{% if message %}
        <div
          class="alert alert-success alert-dismissible fade show text-center"
          role="alert"
        >
          {{message}}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
		<h2>Sign In</h2>
		<p>Please fill up the form to LogIn!</p>
		<hr>
        <div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<span class="fa fa-user"></span>
					</span>
				</div>
				<input type="text" class="form-control" name="username" id="username" placeholder="Username" required="required">
			</div>
      <div class="usernameFeedBackArea invalid-feedback" style="display:none"></div>
        </div>

		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-lock"></i>
					</span>
				</div>
				<input type="password" class="form-control" name="password" placeholder="Password" required="required" id="password">
        <span id="span">
          <i class="fa fa-eye" aria-hidden="true" id="eye" onclick="toggle()"></i>
        </span>
			</div>
        </div>

        <div class="form-group">
        	<div class="input-group">
        		<div class="input-group-prepend">
              <label for="remember" class="disable-select"> <input type="checkbox" , name="remember" id="remember"> Remember Me</label>
        		</div>
        	</div>
        </div>


		<div class="form-group">
			<script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6Leyjo4aAAAAALGq2q-nzNwg-7G7hrudNhqDHOMk"></div>
            <button type="submit" id="loginBtn" class="btn btn-primary btn-lg mt-3">Sign In</button>
			<a href="{% url 'forgot_password' %}" class="float-right mt-2">Forgot Password?</a>
        </div>
    </form>
	<div class="text-center">Don't have an account? <a href="{% url 'signup' %}">Create here</a></div>
	<p class="text-center">or</p>
</div>
<center>
  <!-- Google -->
<div onclick="location.href = '{% provider_login_url 'google' %}';" class='g-sign-in-button'>
	<div class=content-wrapper>
		<div class='logo-wrapper'>
			<img src='{% static "images/google.png" %}'>
		</div>
		<span class='text-container'>
			<span>Sign in with Google</span>
		</span>
	</div>
</div> <br>
<!-- facebook -->
<button class="fb" onclick="location.href='{% provider_login_url "facebook" method="oauth2" %}';">
  <i class="fa fa-facebook "></i>Log in with facebook
</button> <br><br>
</center>
{% endif %}
<script>
  const usernameField = document.querySelector("#username");
  const usernameFeedBackArea = document.querySelector(".usernameFeedBackArea");
  const loginBtn = document.querySelector("#loginBtn");
  usernameField.addEventListener("keyup", (e) => {
  const usernameVal = e.target.value;

  usernameField.classList.remove("is-invalid");
  usernameFeedBackArea.style.display = "none";

  if (usernameVal.length > 0) {
    fetch("/validate-username/", {
      body: JSON.stringify({ username: usernameVal }),
      method: "POST",
    })
      .then((res) => res.json())
      .then((data) => {
        if (data.username_error) {
          loginBtn.removeAttribute("disabled");
        } else {
          loginBtn.disabled = true;
          usernameField.classList.add("is-invalid");
          usernameFeedBackArea.style.display = "block";
          usernameFeedBackArea.innerHTML = `<p>User doesn't exist.</p>`;
        }
      });
  }
});

var state=false;
function toggle()
{
  if (state) {
    document.getElementById("password").setAttribute("type", "text");
    document.getElementById("eye").setAttribute("class", "fa fa-eye-slash")
    state = false;
  } else {
    document.getElementById("password").setAttribute("type", "password");
    document.getElementById("eye").setAttribute("class", "fa fa-eye")
    state = true;
  }
}
</script>
</body>
</html>
