{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}PRO_Act | Profile{% endblock title %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <!-- Begin Page Content -->
    <div class="container-fluid px-4 profile">

        <!-- Main Content Here -->
        <div class="row my-4">
          <div class="col-lg-2 col-sm-0"></div>
          <div class="col-lg-3 col-sm-10 my-2">
            <img src="{{ request.user.profile.image.url }}" class="profile">
          </div>
          <div class="card o-hidden border-0 shadow-lg col-lg-4 my-2 p-3" style="background-image: linear-gradient(to bottom right, whitesmoke 0%, #fff 120%);">
            <div class="card-body">

      <div class="content-section mt-3">
        <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap" rel="stylesheet">
        <div class="wrapper">
          <div class="cc text-center">
            <h1>
              <span class="enclosed">User</span>Profile
            </h1>
          </div>
        </div><br><br>
        <!-- <h1 class="doabout text-center">User's Profile</h1> -->
       <p><b>Username: </b> {{user.username}} </p>
       <p><b>First Name: </b> {{user.fname}} </p>
       <p><b>Last Name: </b>  {{user.lname}} </p>
       <p><b>Email Address: </b> {{user.email}} </p>

    <div class="text-center">
               <div class="text-center">
                <a class='bb btn btn-success shadow-sm' type='button' onclick="window.location.href='/profile_update'">Update Profile</a>
                <a class='bb btn btn-success shadow-sm' type='button' onclick="window.location.href='/changepassword'">Change Password</a>
                <a type="button" onclick="window.location.href='/project_view'" class="bb btn btn-success shadow-sm">View Projects</a>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock body %}