{% extends 'base.html' %}
{% block title %}PRO_Act  ||  Profile{% endblock title %}

{% block body %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet"/>

<div class="container my-5">

    <section>
      
      <div class="card mb-4">
        
        <div class="row">
  
          <div class="col-md-6">
            <img class="img-fluid rounded-left" src="https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049__340.png" style="width: 472px;height: 708px;" alt="profile image">
          </div>
  
          <div class="col-md-6 p-5 align-self-center">
  
            <h3 class="font-weight-normal mb-3"><b>My Profile</b></h3>
            <ul class="list-unstyled font-small mt-5 mb-0">
              <li>
                <p class="text-uppercase mb-2"><strong>User-Name</strong></p>
                <p class="text-muted mb-4">{{request.user.username}}</p>
              </li>
              
              <li>
                <p class="text-uppercase mb-2"><strong>First Name</strong></p>
                <p class="text-muted mb-4">{{request.user.first_name}}</p>
              </li>

              <li>
                <p class="text-uppercase mb-2"><strong>Last Name</strong></p>
                <p class="text-muted mb-4">{{request.user.last_name}}</p>
              </li>

              <li>
                <p class="text-uppercase mb-2"><strong>Email</strong></p>
                <p class="text-muted mb-4">{{request.user.email}}</p>
              </li>

              <li>
                <p class="text-uppercase mb-2"><strong>Phone No</strong></p>
                {% if request.user.phone %}
                <p class="text-muted mb-4">{{request.user.phone}}</p>
                {% else %}
                <p class="text-muted mb-4">9875684268</p>
                {% endif %}
              </li>
                
            </ul>
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-uppercase mb-2"><strong>All Projects</strong></p>
                    <button type="button" onclick="window.location.href='/project_view'" class="btn btn-success">View</button>
                </div>
                <div class="col-sm-6">
                    <p class="text-uppercase mb-2"><strong>Update Profile</strong></p>
                    <button type="button" class="btn btn-warning">Update</button>
                </div>
            </div>
  
          </div>
  
        </div>
  
      </div>
  
    </section>
  
  </div>

{% endblock body%}