{% extends 'base.html' %} {% block title %}PRO_Act || Add Project{% endblock
title %} {% block body %}
<main
  role="main"
  style="background-color: rgb(126, 245, 189); padding: 30px 0px"
>
  <div class="container">
    <h3 class="text-center pb-3">Add Project</h3>

    <div class="card col-sm-8 offset-sm-2 shadow p-3 bg-white rounded">
      <div class="card-body">
        <form method="post" action="/project_add">
          {% csrf_token %}
          <div class="form-group">
            <label
              for="name"
              class="control-label mb-2"
              style="font-weight: 500"
              >Name of the Project</label
            >
            <input
              type="text"
              class="form-control mb-4"
              id="name"
              name="name"
              placeholder="Name"
            />
          </div>

          <div class="form-group">
            <label
              for="desc"
              class="control-label mb-2"
              style="font-weight: 500"
              >Description
            </label>
            <textarea
              class="form-control mb-4"
              id="desc"
              name="desc"
              rows="3"
            ></textarea>
          </div>

          <div class="form-group">
            <label for="link" class="mb-2" style="font-weight: 500"
              >Link(Site link or github link if any)</label
            >
            <input
              type="text"
              class="form-control mb-4"
              id="link"
              name="link"
              placeholder="https://..."
            />
          </div>

          <div class="form-group">
            <!-- <label for="stack">Technical Stack</label>  -->
            <!----- add tech stack choices ------->
            <div class="dropdown">
              <button
                class="btn bg-secondary text-white dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Choose tech stack
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for key,value in tags.items %}
                <input
                  type="checkbox"
                  value="{{key}}"
                  name="stack"
                  id="{{value}}"
                />
                <label for="{{value}}"> {{key}}</label> <br />
                {% endfor %}
              </div>
            </div>
          </div>
          <br />
          <button
            class="btn btn-primary col-sm-6 offset-sm-3 mt-3"
            type="submit"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock body %} {% endblock title %}
