{% extends 'base.html' %}
{% block title %} PRO_Act || Add Project {% endblock title %}
{% block body %}

<div class="container">
  <div class="row">
    {% if projects %}
    {% for project in projects %}
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://source.unsplash.com/100px180/?phone,contact,email" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{project.name}}</h5>
          <p class="card-text">{{project.desc}}<br></p>
          <p>
            {% for project_stack in project.stack_list %}
            <span
              style="box-sizing: content-box;padding:3px;border-radius:2px;background-color:rgb(36, 170, 69);color:white;">{{project_stack}}</span>
            {% endfor %}
          </p>
          <a href="{% url 'modules' project.pid %}" class="btn btn-primary">Manage</a>
        </div>
      </div>
    </div>
    {%endfor%}
    {%endif%}
  </div>
</div>
{% endblock body %}