{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
	<title>PRO_ACT || Sign Up</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>
	{% if user.is_authenticated %}
	<div class="container jumbotron cj">
		<h1>Welcome {{ user.username }} </h1>
		<meta http-equiv="refresh" content="0.5; URL={% url 'home:login' %}" />
	</div>
	{% else %}
	<div class="signup-form">
		{% if error %}
		<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
			{{error}}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endif %}
		{% if message %}
		<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
			{{message}}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endif %}
		<form action="{% url 'signup' %}" method="post" id="signupForm">
			{% csrf_token %}
			<h2>Sign Up</h2>
			<p>Please fill up the form to register for a new account</p>
			<hr>

			<div class="row">
				<div class="col-md-6 form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<span class="fa fa-user"></span>
							</span>
						</div>
						<input type="text" class="form-control" id="fname" name="fname" placeholder="First Name"
							required="required">
					</div>
				</div>


				<div class="col-md-6 form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<span class="fa fa-user"></span>
							</span>
						</div>
						<input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name"
							required="required">
					</div>
				</div>

				<div class="col-md-6 form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<span class="fa fa-envelope"></span>
							</span>
						</div>
						<input type="email" class="form-control" id="email" name="email" placeholder="Email address"
							required="required">
					</div>
					<div class="emailFeedBackArea invalid-feedback" style="display:none"></div>
				</div>
				<div class="col-md-6 form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<span class="fa fa-at"></span>
							</span>
						</div>
						<input type="text" class="form-control" id="username" name="username" placeholder="Username"
							required="required">
					</div>
					<div class="usernameFeedBackArea invalid-feedback" style="display:none"></div>
				</div>

				<div class="col-md-6 form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fa fa-lock"></i>
							</span>
						</div>
						<input type="password" class="form-control" id="password1" name="password1"
							placeholder="Password" required="required">
						<span class="span">
							<i class="fa fa-eye" aria-hidden="true" onclick="toggle1()" id="eye1"></i>
						</span>
					</div>

				</div>

				<div class="col-md-6 form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fa fa-lock"></i>
							</span>
						</div>
						<input type="password" class="form-control" id="password2" name="password2"
							placeholder="Confirm Password" required="required">
						<span class="span">
							<i class="fa fa-eye" aria-hidden="true" onclick="toggle2()" id="eye2"></i>
						</span>
					</div>
				</div>
				<div class="col-md-12 text-center">
					<div class="passwordFeedBackArea invalid-feedback" style="display:none"></div>
				</div>
			</div>

			<center>
				<div class="form-group">
					<script src='https://www.google.com/recaptcha/api.js'></script>
					<div class="g-recaptcha" data-sitekey="6Leyjo4aAAAAALGq2q-nzNwg-7G7hrudNhqDHOMk"></div>
					<br>
					<center><button type="button" id="sendOtpBtn" onClick="sendOTP()" class="btn btn-primary btn-lg"
							disabled>Send OTP</button></center>
					<center>
						<div class="OTPStatusFeedBackArea invalid-feedback" style="display: none"></div>
					</center>
				</div>
			</center>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8 form-group" style="display: none" id="afterOTP">
					<input type="text" id="otp" name="otp" class="form-control" placeholder="Enter OTP" required>
					<center>
						<div class="OTPFeedBackArea invalid-feedback" style="display: none"></div>
					</center>
					<center><button type="button" class="btn btn-primary btn-lg mt-3" id="verifyOtpBtn"
							onClick="verifyOTP()">Verify OTP</button> </center>
				</div>
				<div class="col-md-2"></div>
			</div>
		</form>
		<center><a href="{% url 'forgot_password' %}" class="text-center">Forgot Password?</a></center>
		<div class="text-center">Already have an account? <a href="{% url 'login' %}">Login here</a></div> <br>
		<center>
			<!-- Google -->
			<p><button class="gg" onclick="location.href = '{% provider_login_url 'google' %}';">
					<i class="fa fa-google fa-align-left" aria-hidden="true"></i>Log in with Google
				</button></p>
			<!-- facebook -->
			<button class="fb" onclick="location.href='{% provider_login_url "facebook" method="oauth2" %}';">
				<i class="fa fa-facebook "></i>Log in with facebook
			</button>
		</center>
	</div>
	<script>
		pwdState = false
		cpwdState = false
		function toggle1() {
			if (pwdState) {
				document.getElementById("password1").setAttribute("type", "text");
				document.getElementById("eye1").setAttribute("class", "fa fa-eye-slash")
				pwdState = false;
			} else {
				document.getElementById("password1").setAttribute("type", "password");
				document.getElementById("eye1").setAttribute("class", "fa fa-eye")
				pwdState = true;
			}
		}

		function toggle2() {
			if (cpwdState) {
				document.getElementById("password2").setAttribute("type", "text");
				document.getElementById("eye2").setAttribute("class", "fa fa-eye-slash")
				cpwdState = false;
			} else {
				document.getElementById("password2").setAttribute("type", "password");
				document.getElementById("eye2").setAttribute("class", "fa fa-eye")
				cpwdState = true;
			}
		}
	</script>

	{% endif %}

	<script src="{% static 'js/register.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>

</html>