* {
  margin: 0;
  padding: 0;
}
.container {
  min-height: 100%;
}
@media (min-width: 576px) {
  .backgr {
    width: 100%;
  }
  html,
  body {
    height: 100%;
    width: 100%;
  }

  .backg {
    height: 32rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background: url("todo2.jpg");
    color: rgb(27, 35, 70);
    padding: 0;
    margin: 0;
    background-attachment: inherit;
  }
  .main-content {
    display: flex;
  }
  .main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(250, 246, 243);
  }
  .box .content {
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before {
    position: absolute;
    content: "";
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
  }
  .left .content p {
    text-align: justify;
  }
  .left .content .social {
    margin: 20px 0 0 0;
  }
  .left .content .social a {
    padding: 0 2px;
    color: #1e8d62;
  }
  .left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover {
    background: #f17420;
  }
  .center .content .fas {
    font-size: 1.4375rem;
    background: #1e8d62;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover {
    background: #f17420;
  }
  .center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone {
    margin: 15px 0;
  }
  .right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #1b1515;
  }
  .right form .msg {
    margin-top: 10px;
  }
  .right form input,
  .right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #d8cece;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus {
    outline-color: #3498db;
  }
  .right form input {
    height: 35px;
  }
  .right form .btn {
    margin-top: 10px;
  }
  .right form .btn button {
    height: 40px;
    width: 47px;
    border: none;
    outline: none;
    background: #799ab6;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
  }
  .right form .btn button:hover {
    background: rgb(217, 253, 54);
  }
  .bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #c0b9b9;
  }
  .bottom center span {
    color: #656565;
  }
  .bottom center a {
    color: #f12020;
    text-decoration: none;
  }
  .bottom center a:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}

/*progress{
    -webkit-apperance:none;
    width: 50%;
    height: 15px;
    border: 1px solid #ccc;
    overflow:hidden;
    color: #aaa;
    border-radius: 15px;
  }*/
